*{
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.section_name{
    padding: 20px;
}

div{ 
    margin-bottom: 30px;
}

main{
    display: flex;
      
}
.header_img{
    border-radius:100%;
    width: 200px;
    
}

.img_text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.main-section{
    padding-left: 30px;
    border-left: 2px solid black;

}



