@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
    margin: 0;  
    padding: 0; 
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    width: 100%;
    align-items: center;
    flex-wrap: wrap;

}
h3{
    font-family: "Titan One", sans-serif;
}

main{
    display: flex;
    padding-bottom: 30px;
    flex-wrap: wrap;
    background-color: rgb(224, 228, 220);
      
}

.header_conteiner{
    width: 120%;
    display: flex;
    height: 100px;
    background-color: rgb(238, 242, 234);
    align-items: center;
    justify-content: center;
       
}
.header-list{
    display: flex;
    gap: 200px;
    list-style-type: none;

}


  a{
    text-decoration: none;
    color: black;
    
}
.main-section{
    margin-top: 20px;
}
.section_name{
    padding: 10px;
}

div{ 
    margin-bottom: 30px;
}


.header_img{
    border-radius:100%;
    width: 200px;
    
}

.img_text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-width: 300px;
}

.main-section{
    max-width: 75%;
    padding-left: 30px;
    border-left: 2px solid black;
    

}

.footer_container{ 
    width: 120%;
    padding-top: 30px;
    text-align: center;
    background-color: beige;
    
}

footer ul li {
    display: inline;
    padding: 30px;
    padding-top: 900px;

 }



